CREATE TABLE IF NOT EXISTS serial_numbers (id INTEGER PRIMARY KEY AUTOINCREMENT, product_id INTEGER NOT NULL, serial_number TEXT UNIQUE NOT NULL, imei TEXT, mac_address TEXT, batch_number TEXT, manufacturing_date DATE, import_date DATE NOT NULL DEFAULT CURRENT_DATE, supplier_id INTEGER, purchase_price DECIMAL(15,2), selling_price DECIMAL(15,2), status TEXT CHECK (status IN (\"in_stock\", \"sold\", \"reserved\", \"damaged\", \"returned\", \"warranty_claim\")) DEFAULT \"in_stock\", location TEXT, notes TEXT, created_at DATETIME DEFAULT CURRENT_TIMESTAMP, updated_at DATETIME DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (product_id) REFERENCES products(id) ON DELETE CASCADE, FOREIGN KEY (supplier_id) REFERENCES suppliers(id) ON DELETE SET NULL);
